<th:block xmlns:th="https://www.thymeleaf.org/">
    <div id="art-factory-main" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#art-factory-main" data-slide-to="0" class="active"></li>
            <li data-target="#art-factory-main" data-slide-to="1"></li>
            <li data-target="#art-factory-main" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://res.cloudinary.com/the-potential/image/upload/v1595087174/art-factory/workshops/art-factory-main_yrp1nb.jpg"
                     alt="Workshop1" style="width: 100%;height: 100%">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/the-potential/image/upload/v1595087220/art-factory/workshops/white-paper-painting-close-up-photography-2543260_lyuqmu.jpg"
                     alt="Workshop2" style="width: 100%;height: 100%">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/the-potential/image/upload/v1595087219/art-factory/workshops/person-holding-art-paper-3621597_k46wpm.jpg"
                     alt="Workshop3" style="width: 100%;height: 100%">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#art-factory-main" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#art-factory-main" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</th:block>