<th:block xmlns:th="https://www.thymeleaf.org/">
  <div class="modal fade" id="registerModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal body -->
        <div class="modal-body">
          <form action="/action_page.php">
            <div class="container">
              <h2>Регистриране на нов потребител</h2>
              <p>Попълнете формата, за да създадете нов профил, или <a href="#">ВХОД</a>, ако вече имате регистрация.</p>
              <hr>

              <label for="email"><b></b></label>
              <input type="text" placeholder="Email" name="email" id="email" required>

              <label for="psw"><b></b></label>
              <input type="password" placeholder="Парола" name="psw" id="psw" required>

              <label for="psw-repeat"><b></b></label>
              <input type="password" placeholder="Потвърдете паролата" name="psw-repeat" id="psw-repeat" required>
              <hr>
              <p>Създавайки профил, Вие се съгласявате с нашите <a href="#">Условия за ползване на сайта и Политика на поверителност</a>.</p>


            </div>

          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="registerbtn">РЕГИСТРАЦИЯ</button>
        </div>

      </div>
    </div>
  </div>
</th:block>