<!DOCTYPE html>
<html lang="bg" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
    <header>
        <section class="navigation">
            <th:block th:include="~{fragments/nav}"></th:block>
        </section>
    </header>
<main>
  <h2>Кои сме ние</h2>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="img\tm_avatar.jpg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Таня Маркова</h1>
        <p>художник и фотограф</p>
        <p> </p>
        <p>Основател на Art Factory</p>
        <p>Ръководител на творческите работилници</p>
      </div>
    </div>
  </div>
  <p>Art Factory е място за изкуство, провокации и весели творчески моменти.</p>
  <p>Първото ни обещание е, че при нас ще намерите нови форми на себеизразяване, но можем и да Ви въвлечем в интерактивни игри за развитие на паметта и подобряване на концентрацията.</p>
  <p>При нас се твори с усмивка! Елате да се уверите!</p>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
        </body>
