<!DOCTYPE html>
<html lang="bg" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script src="/js/art-info.js"></script>
</head>
<body>
<header>
    <section class="navigation">
        <th:block th:include="~{fragments/nav}"></th:block>
    </section>
</header>
<main>
    <h2 class="text-center">Администрация</h2>
    <div class="container-fluid">
        <div class="row">
            <th:block th:include="~{fragments/admin-nav}"></th:block>
            </div>
            <div class="col-sm-10">
                <div class="container-fluid justify-content-center">
                    <h2>Информация</h2>
Натиснете бутона, за да изтеглите информация за уеб сайта. Когато цялата информация бъде показана, бутонът ще изчезне.
                    <button id="art-btn">Fetch Info</button>
                    <div id="art-info"></div>

                </div>
            </div>

        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>