<!DOCTYPE html>
<html lang="bg" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <section class="navigation">
        <th:block th:include="~{fragments/nav}"></th:block>
    </section>
</header>
<main>
    <h2>Очаквайте скоро...</h2>
    <img src="https://res.cloudinary.com/the-potential/image/upload/v1596437170/art-factory/main/pexels-emily-hopper-1084406_nkrhoq.jpg"
         style="width: 100%">
</main>
</body>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</html>