<!DOCTYPE html>
<html lang="bg" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
    <header>
        <section class="navigation">
            <th:block th:include="~{fragments/nav}"></th:block>
        </section>
    </header>
    <main class="two-collumns">
        <div class="centered">
            <h2>Пишете ни:</h2>

            <div class="container">
                <form action="/action_page.php">
                    <label for="fname"></label>
                    <input type="text" id="fname" name="firstname" placeholder="Име*">

                    <label for="email"></label>
                    <input type="text" id="email" name="email" placeholder="Email*">

                    <label for="Subject"></label>
                    <input type="text" id="subject" name="subject" placeholder="Относно*">

                    <label for="message"></label>
                    <textarea id="message" name="message" placeholder="Съобщение*" style="height:200px"></textarea>

                    <input type="submit" value="ИЗПРАЩАНЕ">
                </form>
            </div>
        </div>


        <div class="centered">
            <p><img src="https://res.cloudinary.com/the-potential/image/upload/v1595087127/art-factory/icons/smartphone_oklqkp.png", width=18> 088 750 3559 </p>
            <p><img src="https://res.cloudinary.com/the-potential/image/upload/v1595087106/art-factory/icons/map_x5vske.png", width=18> София, ул. Средна гора №55, партер </p>
            <iframe width="600" height="500" frameborder="0" scrolling="no" src="https://www.bgmaps.com/link/map/3C6D4796357C27F6BD5B8101901C9383"></iframe>
        </div>

    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</body>
</html>
