<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Factory</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="javascript.js"></script>
    <link rel="icon" type="image/vnd.microsoft.icon"
          href="img\favicon.ico" />
    <meta name="description" content="<p>Официална страница на училилището за ръчно творчество Art Factory</p>" />
</head>
<body>
    <header>
        <section class="navigation">
            <p><img src="img\user.png" , width=18> <a href="login.html">Вход</a> | <a href="registration.html">Регистрация</a> <span> </span><img src="img\search.png" , width="18"> </p>
            <p class="site-title">Art<span>Fact<img src="img\logo.png" , width=20 />ry</i></span></p>
            <p>
                <nav>
                    <ul>
                        <li><a href="index.html">РАБОТИЛНИЦИ</a></li>
                        <li><a href="voucher.html">ПОДАРИ ВАУЧЕР</a></li>
                        <li><a href="video.html">ВИДЕО УРОЦИ</a></li>
                        <li><a href="activity.html">УСЛУГИ</a></li>
                        <li><a href="about.html">ЗА НАС</a></li>
                        <li><a href="contact.html">КОНТАКТИ</a></li>
                        <li>
                            <ul>
                                <li><a href="#"><i class="img/facebook"></i></a></li>
                                <li><a href="#"><i class="img/instagram"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </p>
        </section>
    </header>
    <main class="two-collumns">
        <div class="centered">
            <h2>Пишете ни:</h2>

            <div class="container">
                <form action="/action_page.php">
                    <label for="fname"></label>
                    <input type="text" id="fname" name="firstname" placeholder="Име*">

                    <label for="email"></label>
                    <input type="text" id="email" name="email" placeholder="Email*">

                    <label for="Subject"></label>
                    <input type="text" id="subject" name="subject" placeholder="Относно*">

                    <label for="message"></label>
                    <textarea id="message" name="message" placeholder="Съобщение*" style="height:200px"></textarea>

                    <input type="submit" value="ИЗПРАЩАНЕ">
                </form>
            </div>
        </div>


        <div class="centered">
            <p><img src="img\smartphone.png", width=18> 088 750 3559 </p>
            <p><img src="img\map.png", width=18> София, ул. Средна гора №55, партер </p>
            <iframe width="600" height="500" frameborder="0" scrolling="no" src="https://www.bgmaps.com/link/map/3C6D4796357C27F6BD5B8101901C9383"></iframe>
        </div>

    </main>
    <footer>
        <p>Copyright &copy 2020 antoanetatanasova</p>
        <ul>
            <li><a href="#"><i class="img\facebook"></i></a></li>
            <li><a href="#"><i class="img\instagram"></i></a></li>
        </ul>
    </footer>
</body>
</html>
