<!DOCTYPE html>
<html lang="bg" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
    <header>
        <section class="navigation">
            <th:block th:include="~{fragments/nav}"></th:block>
        </section>
        <section class="caroussel">
            <th:block th:include="~{fragments/carousel}"></th:block>
        </section>
    </div>
</header>
<main>
  <div class="containter">
    <section class="welcome">
        <h2>Добре дошли в Art Factory!</h2>
        <p>Art Factory е място за изкуство и провокации.</p>
        <p>Art Factory е място точно за Вас.</p>
    </section>
    <section class="classes">
        <h2>Предстоящи работилници</h2>
    <ul>
      <li>
      <div class="card">
        <img src="https://res.cloudinary.com/the-potential/image/upload/v1595087226/art-factory/workshops/person-holding-putty-knife-3959012_wknmmd.jpg" alt="Работилница" style="width:100%">
        <h1>Име на работилницата</h1>
        <p class="price">19.99 лв.</p>
        <p>Работилница за деца или работилница за възрастни.</p>
        <p><button>ПОВЕЧЕ</button></p>
      </div>
    </li>
    </ul>
</section>
</div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
        </body>
</html>
