<!DOCTYPE html>
<html lang="bg" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <section class="navigation">
        <th:block th:include="~{fragments/nav}"></th:block>
    </section>
</header>
<main>
    <h2 class="text-center">Вход</h2>
    <div class="text-center"><p>Ако нямате потребителски профил, направете <a th:href="@{/registration}">РЕГИСТРАЦИЯ</a>.</p></div>
    <form class="mx-auto w-25 p-2" th:action="@{/login/authenticate}" method="post">
        <div class="input-group justify-content-center">
            <hr class="hr-3"/>
            <div th:if="${error}" class="alert alert-danger" role="alert">
                This username and password combination does not exist.
            </div>
            <label for="username" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Имейл</label>
            <input name="username" type="text"
                   class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                   id="username" placeholder="Имейл" required>
        </div>
        <div class="input-group mt-3">
            <label for="password" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Парола</label>
            <input name="password" type="password" class="form-control validate"
                   id="password" placeholder="Парола" required>
        </div>
        <hr/>
        <div class="input-group mt-3 justify-content-center">
            <button type="submit" class="registerbtn">ВХОД</button>
        </div>
    </form>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
