<html>
<!-- The Modal -->
<div class="modal fade" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/action_page.php">
          <div class="container">
            <h2>Вход</h2>
            Ако все още нямате профил, направете <a href="#">РЕГИСТРАЦИЯ></a>.
            <label for="email"><b></b></label>
            <input type="text" placeholder="Email" name="email" id="email" required>

            <label for="psw"><b></b></label>
            <input type="password" placeholder="Парола" name="psw" id="psw" required>

          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="registerbtn">ВХОД</button>
      </div>

    </div>
  </div>
</div>
