<!DOCTYPE html>
<html lang="bg" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <section class="navigation">
        <th:block th:include="~{fragments/nav}"></th:block>
    </section>
</header>
<main>
    <h2 class="text-center">Регистрация</h2>
    <div class="text-center"><p>Ако вече имате потребителски профил, продължете към <a th:href="@{/login}">ВХОД</a>.</p></div>
    <form class="mx-auto w-25 p-2" th:action="@{/registration}" method="post" th:object="${formData}">
        <div class="input-group justify-content-center">
            <hr class="hr-3"/>
            <label for="email" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Имейл</label>
            <input name="email" th:value="*{email}"
                   th:errorclass="is-invalid" type="email"
                   class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                   id="email" placeholder="Имейл" required>
            <div class="invalid-feedback">Този имейл е невалиден или с него вече е регистриран потребител.</div>
        </div>
        <div class="input-group mt-3">
            <label for="password" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Парола</label>
            <input name="password" th:errorclass="is-invalid" type="password" class="form-control validate"
                   id="password" placeholder="Парола" required>
        </div>
        <div class="input-group mt-3">
            <label for="repeatPassword" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Паролата пак</label>
            <input name="repeatPassword" type="password" class="form-control validate"
                   id="repeatPassword" th:errorclass="is-invalid" placeholder="Потвърдете паролата" required>
            <div class="invalid-feedback">Паролите не съвпадат.</div>
        </div>
        <hr/>
        <div class="input-group mt-3 justify-content-center">
            <button type="submit" class="registerbtn">РЕГИСТРАЦИЯ</button>
        </div>
    </form>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
