<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="bg" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <section class="navigation">
        <th:block th:include="~{fragments/nav}"></th:block>
    </section>
</header>
<main>

    <h2>Видео уроци</h2>
    <p>
    <div class="text bg-warning justify-content-center"><img
            src="https://res.cloudinary.com/the-potential/image/upload/v1596288668/art-factory/icons/warning_jvswhm.png"
            width="50px">Съдържанието на видео уроците е безплатно, но е достъпно само за регистрирани потребители.
        Изберете ВХОД или РЕГИСТРАЦИЯ.
    </div>
    </p>
    <div class="container-fluid">
        <table class="table table-borderless" th:each="v : ${video}" th:object="${v}">
            <tbody>
            <tr>
                <th><img class="thumbnail" th:src="*{thumbnail}" alt="image" width="100px"></th>
                <th th:text="*{title}">Title</th>
                <div sec:authorize="isAuthenticated()">
                    <th><a th:href="@{/video/tutorial/(id = *{id})}" class="registerbtn">КЪМ УРОКА</a></th>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
