<!DOCTYPE html>
<html lang="bg" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
    <header>
        <section class="navigation">
            <th:block th:include="~{fragments/nav}"></th:block>
        </section>
</header>
<main class="two-collumns">
  <div class="centered">
    <h2>Подарете ваучер</h2>
        <div class="container">
            <form action="/action_page.php">
                <label for="sender"></label>
                <input type="text" id="fname" name="sender" placeholder="Подател">

                <label for="receiver"></label>
                <input type="text" id="email" name="receiver" placeholder="Получател*" required>

                <label for="occasion"></label>
                <input type="text" id="email" name="occasion" placeholder="Повод">

                <label for="message"></label>
                <input type="text" id="subject" name="message" placeholder="Послание">

                <label for="workshop"></label>
                <input type="text" id="subject" name="message" placeholder="За какво е ваучерът*" required>

                <label for="amount"></label>
                <input type="text" id="subject" name="amount" placeholder="Въведете избрана сума">

                <label for="details"></label>
                <textarea id="details" name="message" placeholder="Допълнителни пояснения" style="height:200px"></textarea>


                <input type="submit" value="ИЗПРАЩАНЕ">
            </form>
        </div>
      </div>

<div class="centered">
  <p><img src="../../../../../../../_art-factory-web-project/img/gift-voucher.png">
</div>

</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
        </body>
