<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Factory</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="javascript.js"></script>
    <link rel="icon" type="image/vnd.microsoft.icon"
     href="img\favicon.ico" />
     <meta name="description" content="<p>Официална страница на училилището за ръчно творчество Art Factory</p>"
</head>
<body>
    <header>
        <section class="navigation">
        <p><img src="img\user.png", width=18> <a href = "login.html">Вход</a> | <a href = "registration.html">Регистрация</a> <span> </span><img src="img\search.png", width="18"> </p>
        <p class="site-title">Art<span>Fact<img src="img\logo.png", width=20/>ry</i></span></p>
        <p><nav>
        <ul>
            <li><a href = "index.html">РАБОТИЛНИЦИ</a></li>
            <li><a href = "voucher.html">ПОДАРИ ВАУЧЕР</a></li>
            <li><a href = "video.html">ВИДЕО УРОЦИ</a></li>
            <li><a href = "activity.html">УСЛУГИ</a></li>
            <li><a href = "about.html">ЗА НАС</a></li>
            <li><a href = "contact.html">КОНТАКТИ</a></li>
            <li>
                <ul>
                    <li><a href = "#"><i class = "img/facebook"></i></a></li>
                    <li><a href = "#"><i class = "img/instagram"></i></a></li>
                </ul>
            </li>
        </ul>
      </nav></p>
</header>
<main class="two-collumns">
  <div class="centered">
    <h2>Подарете ваучер</h2>
        <div class="container">
            <form action="/action_page.php">
                <label for="sender"></label>
                <input type="text" id="fname" name="sender" placeholder="Подател">

                <label for="receiver"></label>
                <input type="text" id="email" name="receiver" placeholder="Получател*" required>

                <label for="occasion"></label>
                <input type="text" id="email" name="occasion" placeholder="Повод">

                <label for="message"></label>
                <input type="text" id="subject" name="message" placeholder="Послание">

                <label for="workshop"></label>
                <input type="text" id="subject" name="message" placeholder="За какво е ваучерът*" required>

                <label for="amount"></label>
                <input type="text" id="subject" name="amount" placeholder="Въведете избрана сума">

                <label for="details"></label>
                <textarea id="details" name="message" placeholder="Допълнителни пояснения" style="height:200px"></textarea>


                <input type="submit" value="ИЗПРАЩАНЕ">
            </form>
        </div>
      </div>

<div class="centered">
  <p><img src="../../../../../../../_art-factory-web-project/img/gift-voucher.png"
</div>

</main>
<footer>
    <p>Copyright &copy 2020 antoanetatanasova</p>
    <ul>
        <li><a href="#"><i class="img/facebook"></i></a></li>
        <li><a href="#"><i class="img/instagram"></i></a></li>
    </ul>
</footer>
        </body>
